
@font-face {
font-family: "Gotham";
src: url("../fonts1/Gotham Medium Regular/gotham-medium-webfont.woff2");
}




body{
 	margin: 0;
 	padding: 0;

}

.header{
	width: 1170px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}

.header__nav{
	position: absolute;
	height: 165px;
	width: 100%;
	z-index: 1;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	width: 25%;
	z-index: 1;
	margin: 0;
	padding: 0;
}


.header__menu{
	width: 60%;
	line-height: 165px;
}

.header__list{
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0;

}

svg{
	position: relative;
	top: 10px;
	padding-left: 26px;
}

.header__items{
	display: inline;
	list-style: circle;
	color: white;
	justify-content: space-between;
	align-items: center;
	padding-right: 30px;

}

.header__items:nth-child(3n){
	padding-right: 60px;
}


.header__instagram,
.header__twiter {
	padding-left: 15px;
}

.header__title{
	z-index: 1;
	position: absolute;
	top: 335px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
}

.header__title h1{
	font-size: 80px;
	letter-spacing: 4px;
	line-height: 22px;
	color: #ffffff;
	font-family: "Gotham";
	font-weight: bold;
	text-align: center;
}

.header__title p{
	height: 24px;
	font-size: 18px;
	letter-spacing: 5px;
	line-height: 22px;
	color: #ffffff;
	font-family: "Gotham";
	text-align: center;
}

.header__errow{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 25px;
	margin: auto;
	padding: 0;

}

.header__errow img{

}

.header__slider{
	position: absolute;
	margin: 0 auto;
    width: 1170px;
    margin: 0 auto;
}

.header__img{
    width: 1170px;
    height: 100%;
	 background-image: linear-gradient(to top right, #55b7ff , #7e5aff);
}

.content{
	height: 1633px;
	width: 1170px;
	margin: 0 auto;
}

.content__title1{
	width: 100%;
	height: 273px;
	display: inline-flex;
	justify-content: center;
	align-items: center;

}

.content__titleText1{
	text-transform: uppercase;
	font-size: 44px;
	line-height: 22px;
	color: #2c4058;
	font-family: "Gotham";
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
}

.content__about1{
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	height: 540px;
}

.content__colorBox1{
	height: 463px;
	width: 370px;
	background-color: #55b7ff;
}


.content__about1Foto{
	width: 60%;
}


.content__fotoBox1{
	position: absolute;
	top: 70px;
}

.content__about1Text{
	width: 40%;
	
}

.box__name{
	text-transform: uppercase;
	padding-top: 125px;
	margin: 0;
	font-size: 22px;
	line-height: 24px;
	color: #2c4058;
	font-family: "Gotham";
}

.box__title{
	text-transform: uppercase;
	margin: 0;
	padding-top: 18px;
	font-size: 42px;
	line-height: 24px;
	color: #2c4058;
	font-family: "Gotham";
}

.box__text{
	margin: 0;
	padding-top: 35px;
	width: 470px;
	height: 84px;
	font-size: 18px;
	line-height: 30px;
	color: #4b5562;
	font-family: "Open Sans";
	font-weight: 400;
}

.box__button{
	position: relative;
	top: 35px;
	left: 0px;
	padding: 17px 38px;
	font-family: "Gotham";
	font-size: 14px;
	color: #2c4058;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	text-transform: uppercase;
}

.box__mark{
	padding-top: 65px;
	width: 470px;
	height: 26px;
	font-size: 18px;
	line-height: 30px;
	color: #2c4058;
	font-family: "Font Awesome";
}

.content__about2{
	margin-top: 135px;
	position: relative;
	display: inline-flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
	height: 540px;
}

.content__colorBox2{
	position: absolute;
	height: 463px;
	width: 370px;
	background-color: #7e5aff;
	right: 0px;
}

.content__fotoBox2{
	position: absolute;
	top: 70px;
	right: 0px;
}

.news{
	height: 1035px;
	width: 1170px;
	margin: 0 auto;
	background-image: url("./img/city.png");
	background-image: linear-gradient(to bottom left, #24ccfa , #4384d6);
}

.content__titleText2{
	text-transform: uppercase;
	font-size: 44px;
	line-height: 22px;
	color: white;
	font-family: "Gotham";
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
}

.news__slider{
	width: 100%;
	z-index: 1;

}

.news__slide{
	margin-right: 10px;
	margin-left: 10px;
	height: 516px;
	background-color: #fff;
	
}


.news__slide--foto{
	width: 370px;
	height: 240px;
	
}



.news__slide--ava{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.news__slide--title{
	text-transform: uppercase;
	width: 320px;
	height: 54px;
	font-size: 22px;
	line-height: 34px;
	color: #2c4058;
	font-family: "Gotham";
	font-weight: bold;
	margin-top: 18px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.news__slide--text{
	width: 320px;
	height: 54px;
	font-size: 18px;
	line-height: 30px;
	color: #4b5562;
	font-family: "Open Sans";
	font-weight: 400;
	margin-left: 20px;
	
}

.news__slide--footer{
	display: flex;
	flex-wrap: wrap;

}

.news__slide--ava{
	margin-left: 20px;
	margin-top: 20px;
	
}

.news__slide--author{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
	color: #2c4058;
	font-family: "Gotham";
	margin-left: 20px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.news__slide--date{
	margin-left: 20px;
	margin-top: 0px;
	font-size: 14px;
	line-height: 22px;
	color: #55b7ff;
	font-family: "Gotham";
}

.content__title2{
	width: 100%;
	height: 310px;
	display: inline-flex;
	justify-content: center;
	align-items: center;

}


